

/*---------------general-style-----------------------*/
.uppercase{
    text-transform: uppercase;
}
.heading {
    margin-top:40px;
    margin-bottom: 30px;
    color: #E70E13;
    font-family: 'Fruktur', cursive;
    font-weight: 700;
    text-shadow: 0 0 1px rgb(206, 203, 202);
}
.page-heading{
    margin-left: 20px;
}
.sub-heading{
    color: #E70E13;
    text-shadow: 0 0 2px rgb(206, 203, 202);
}
.text{
   padding:0 20px !important;
   font-family:'Gloria Hallelujah', cursive;
}

/*---------------logo/header-----------------------*/
.logo{
   
    background: url("../images/Monkees_red.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width:100%;
    height:300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    
}

@media(min-width:776px){
    .logo{
        margin-top: 65px;
        margin-bottom: 35px;
    }
}

/*---------------nav-bar/header-----------------------*/

.bar-lg {
    background-color:transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bar-lg:hover{
    background-color: rgba(255,255,255,0.7);
}
.navbar-light .navbar-toggler{
    border:none;

}
.nav-item a{
    color: #4E4D4D !important;
    margin-left: 20px;
    font-family: 
    'Gloria Hallelujah', cursive;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    
}
.nav-item a:hover{
    transform: translatex(20px);
    color: #E70E13 !important;
}
/*---------------about-section/home-page-----------------------*/

.about-image{
    background-image: url("../images/band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:350px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
}
.about-section{
    height: 350px;
    background-color: #858181;
}
.about-text{
    color:#fafafa;
}
.about-heading{
    margin-top: 75px;
}
/*---------------news-section/home-page-----------------------*/

.news-image{
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
}
.news-section{
    height: 400px;
    background-color:#CDC8C8;
}

/*---------------tour-section/home-page-----------------------*/

.main-background{
    height:auto;
    background:url(../images/monkees.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.tours-heading-main{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.tours-text{
   padding-right:  20px;
    padding-left:  20px;
    font-family: 'Gloria Hallelujah', cursive;
}
.date{
    font-weight: bold;
}

/*---------------events-section/events-page-----------------------*/
.events-section{
    background-color:#858181; 
}
.events-text{
    color: #fafafa;
    
}

.events-span{
    color: #F8E56A;
}

/*---------------events-form/events-page-----------------------*/

.center-form{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 70%;
}
.form-item{
   margin-bottom: 10px;
   border:3px solid;
   border-color: #858181;
   
}
button[type="submit"]{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#fafafa;
    background-color: #E70E13;   
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-secondary:hover{
    background-color: #858181 !important;
    color:yellow!important;
}
    
@media(min-width:776px){
    .center-form{
        min-height: 240px;
        max-width: 50%;
        margin: 0 auto;
    }
}
/*---------------video-section/media-page-----------------------*/

.media-heading{
     background-color:#858181;
}
.video-1{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.video-2{
    margin-bottom: 50px;
    
}
@media(min-width:776px){
    .media-video1,
    .media-video2{
        height: 400px;
}
}

/*---------------audio-section/media-page-----------------------*/
.audios,.audio2 {
    margin-bottom: 50px;
    margin-top: 50px;
}
@media(min-width:768px){
    .audio2{
        margin-bottom: 0;
        margin-top: 0;
    }
}

/*---------------gallery/photo-page-----------------------*/

.photos-section{
    background-color: #858181;
    margin-bottom: 50px;
}
.heading-photos{
    padding-top: 25px;
    padding-bottom:25px;
    padding-left:20px;
    color: #E70E13;
    font-family: 'Fruktur', cursive;
}
.photos{
    background-color: #858181;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.thumbnail{
    width: 320px;
    padding: 0;
    overflow: hidden;
    padding-bottom: 30px;
    margin: 0 auto;
}

img{
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  border-radius: 20px;
}

img:hover{
    transform: scale(1.3);
}

/*---------------footer-----------------------*/
footer{
    background-color: #858181;
    color: #FEF9F9;
    min-height: 120px;
}
.footer-heading{
    color: #E70E13;
}

.social{
    padding-bottom: 15px;
}
.social li a i{
    margin-top: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding:12px 0;
    border-radius: 50%;
    background-color: #8f8f8f;
    color: #fafafa;
    line-height: 16px;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social li a i:hover{
    background:#E70E13;
}
#footer-details{
    padding: 20px;

}


